@tailwind base;
@tailwind components;
@tailwind utilities;


@import "../styles/button.css";
@import "../styles/typography.css";
@import "../styles/form.css";

@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/600.css';
@import '@fontsource/poppins/700.css';
@import '@fontsource/bungee';



:root {
  --primary: #4A56A6;
  --secondary: #A5A5A6;
  --tertiary: #A86FA8;
  --black: #1a1a1a;
  --grey: #e9e9e9;
  --border-primary: 5px;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
  @apply px-4 w-full max-w-[1312px] mx-auto;
}

.card { @apply border border-grey rounded-2xl p-4 bg-white shadow-sm; }
.label { @apply block font-semibold mb-1 text-sm; }

.swiper-button-disabled{
  cursor: not-allowed;
  opacity: 0.5;
}