.button{
    width:fit-content;
    white-space: nowrap;
    padding: 12px 24px;
    border-radius: var(--border-primary);
    border:2px solid;
    cursor:pointer;
    display: flex;
    text-align: center;
    justify-content: center;
    text-align: center;
}

.button--primary{
    color: white;
    border-color: var(--primary);
    background-color: var(--primary);
}

.button--primary:hover{
    color: var(--primary);
    background-color: white;
}

.button--secondary{
    color: var(--primary);
    border-color: var(--primary);
    background-color: white;
}

.button--secondary:hover{
    color: white;
    background-color: var(--primary);
}

.button--tertiary{
    color: white;
    border-color: var(--tertiary);
    background-color: var(--tertiary);
}

.button--tertiary:hover{
    color: var(--tertiary);
    background-color: white;
}